*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;

}
h1{
  text-align: center;
}
.nav{
  background-color: aqua;
  height: 3rem;
  padding: 2px;
}
ul{
  list-style-type: none;
}
.container{
  margin:auto;
  padding: 10px;
}
.btn{
  background: rgba(255, 255, 255, 0.5);
  padding: 18px;
  margin-left: 23%;
  overflow: hidden;
  transition: all 500ms ease-in;
  float:left;
}
button{
  height: 150px;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  font-size: 18px;
}
button:hover{
  transform: scale(1.05);
}
@media only screen and (max-width: 900px){
  .btn{
    margin-left: 16%;
  }
}