body{
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  background-color:white;
}
h1{
  text-align: center;
  
}
.body{
  width: 100%;
}

button{
  width: 25%;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 15%;
  font-size: 16px;
  font-weight: bold ;
  
}

.btn1
{
  background-color:white;
  
}
.btn1:hover{
  border: solid 2px #39FF14;
}

.btn2
{
  background-color: white;
  
  
}
.btn2:hover{
  border: solid 2px#39FF14;
}
.btn3
{ 
  background-color:white;
  
}
.btn3:hover{
  border: solid 2px#39FF14;
}
.btn4
{
  background-color: white;
}
.btn4:hover{
  border: solid 2px #39FF14;
}
@media(max-width: 950px){
  .btn1,.btn2,.btn3,.btn4{
    float:left;
    width: 50%;
    margin-left: 250px
  }
}